
@{
    ViewBag.Title = "CreateArticle";
}

<h2>Créer un article vierge</h2>

<hr />

<form action="" method="post">
    <div class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-md-2" for="Title">Title</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="Title" name="Title" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Image">Image</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="Image" name="Image" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Image" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="CategoryId">CategoryId</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-number="The field CategoryId must be a number." data-val-required="The CategoryId field is required." id="CategoryId" name="CategoryId" type="number" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="CategoryId" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Text">Text</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="Text" name="Text" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Text" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Date">Date</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-date="The field Date must be a date." data-val-required="The Date field is required." id="Date" name="Date" type="datetime" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Date" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>