
@{
    ViewBag.Title = "HandleAccounts";
}

<h2>Gérer les comptes Twitter/Facebook</h2>

<hr />

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">

            <button class="btn btn-info">
                Facebook
            </button>

            <button class="btn btn-warning">
                Twitter
            </button>

        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-12">

        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Compte</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="info">
                    <td>1</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr class="success">
                    <td>2</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>

            </tbody>
        </table>

    </div>

</div>

