<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRssDataService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:63166/Service/RssDataService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRssDataService"
        contract="RssDataServiceReference.IRssDataService" name="BasicHttpBinding_IRssDataService" />
    </client>
    <services>
      <service name="SyndicationService.ArticleFeed">
        <endpoint address="Feed1" behaviorConfiguration="SyndicationService.Feed1Behavior"
          binding="webHttpBinding" contract="SyndicationService.IArticleFeed" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/SyndicationService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SyndicationService.Feed1Behavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
